<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title> {{ viewTitle }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()">
      <ion-icon slot="icon-only" name="checkmark"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div>
    <ion-datetime #timepicker 
    presentation="time" 
    minute-values="00,05,10,15,20,25,30,35,40,45,50,55" 
    (ionChange)="dateChanged(timepicker.value)"></ion-datetime>
  </div>
  <calendar
  [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  [startingDayMonth]="1"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  lockSwipes="true"
  >
  
  </calendar>


</ion-content>