:host ::ng-deep{

    ion-title, ion-label{
        color: #2b77b6 !important;
        font-family: "Courier New", Courier, monospace !important;
    }

    h2{
        color: #2b77b6 !important;
        font-family: "Courier New", Courier, monospace !important;
        font-size: 1.3em;
    }

    ion-button, ion-icon{
        color: #ff7348 !important;
    }
    .monthview-container{
        height: auto !important;
    }

    #ionPicker{
       height: 15% !important;
    }

    .monthview-primary-with-event{
        background-color: rgb(230, 246, 247) !important;
        color: black !important;
        border-radius: 50px;
    }
    .monthview-secondary-with-event{
        background-color: rgb(230, 246, 247) !important;
        color: black !important;
        border-radius: 50px;
    }
    .monthview-disabled {
        background-color: #ff7348 !important;
       
    }
    .monthview-selected{
        background-color: #2b77b6 !important;
        border-radius: 50px;
    }

    .monthview-current {
        background-color: #7198b8 !important;
        border-radius: 50px;
       
    }

    td, th {
        border: 0 !important;
        padding: 10px !important;
      }
      .weekview-allday-table{
        display: none !important;
    }

    calendar > ion-item{
        font-family: "Courier New", Courier, monospace !important;
    }
}

