:host ::ng-deep{
    .event-detail-container{
        display: none;
    }

    .monthview-container{
        height: auto !important;
    }
    .monthview-primary-with-event{
        background-color: rgb(230, 246, 247) !important;
        color: black !important;
        border-radius: 50px;
    }

    .monthview-selected{
        background-color: var(--ion-color-success) !important;
        border-radius: 50px;
    }

    .monthview-current {
        background-color: rgb(159, 190, 194) !important;
        border-radius: 50px;
       
    }

    td, th {
        border: 0 !important;
        padding: 10px !important;
      }
}

.indicator-container{
    padding-left: 35%;
    padding-bottom: 10%;
}

.event-indicator{
    background: var(--ion-color-danger);
    width: 5px;
    height: 5px;
    border-radius: 20px;
    margin-right: 20px;
    display: table-cell;
}



