:host ::ng-deep{
    
    .card-name{
    padding: 10px;
    ion-button{
        width: 3.5rem;
    }
}
.item-sliding-active-slide .item{
    transform: translate3d(150px, 0px, 0px);
}
overflow-y: scroll;

}