<ion-header>
  <ion-toolbar>
      <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card  *ngIf="difference > 0">
    <ion-card-header>
      <ion-card-subtitle>Próximas vaciones</ion-card-subtitle>
      <ion-card-title>
        <ion-chip>
          <ion-label color="secondary">{{holidays.startTime}}</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label color="secondary">{{holidays.endTime}}</ion-label>
        </ion-chip>
        </ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center" >
     Días restantes para tus próximas vacaciones:  <br/><strong><h1>{{difference}} días</h1></strong>
    </ion-card-content>
  </ion-card>

  <ion-card  *ngIf="difference <= 0">
    <ion-card-header>
      <ion-card-subtitle>No hay próximas vacaciones a la vista</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center" >
     <ion-button *ngIf="available" (click)="solicitar()" expand="block" fill="clear" shape="round">
      Solicitar vacaciones
     </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>