<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button *ngIf="rol ==='Gerente' && trabaja" fill="clear" expand="block" (click)="openCalModal()">
        Nuevo horario
    </ion-button>
    <ion-row>
        <ion-col size="2">
            <ion-button fill="clear" (click)="back()">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>

        <ion-col size="8" class="ion-text-center">
            <h2>{{ viewTitle }}</h2>
        </ion-col>

        <ion-col size="2">
            <ion-button fill="clear" (click)="next()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    
    <ng-template #calendarView let-view="view" let-row="row" let-col="col">
        <div [class.with-event]="view.dates[row*7+col].events.length">
            {{view.dates[row*7+col].label}}
        </div>
        <div class="indicator-container">
            <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
        </div>
    </ng-template>

    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
        [startingDayMonth]="1" (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)" step="30" [monthviewDisplayEventTemplate]="calendarView">

    </calendar>
</ion-content>