<ion-list *ngIf="auth.loginUser">
  <ion-list-header>
    <strong>¡Hola, {{name}}!</strong>
  </ion-list-header>
  <ion-item detail="true" *ngIf="auth.loginUser && rol==='Gerente'" (click)="goAdminHome()">
    <ion-label>Usuarios</ion-label>
    <ion-icon slot="start" name="home-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Auxiliar'" (click)="goHome()">
    <ion-label>Inicio</ion-label>
    <ion-icon slot="start" name="home-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Gerente'" (click)="goRegister()">
    <ion-label>Nuevo usuario</ion-label>
    <ion-icon slot="start" name="settings-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Gerente'" (click)="goExWorkers()">
    <ion-label>Ex-Trabajadores</ion-label>
    <ion-icon slot="start" name="person-remove-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Auxiliar'" (click)="goHolidays()">
    <ion-label>Vacaciones</ion-label>
    <ion-icon slot="start" name="airplane-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Gerente'" (click)="checkHolidays()">
    <ion-label>Gestionar vacaciones</ion-label>
    <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" (click)="logout()">
    <ion-label>Salir</ion-label>
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
  </ion-item>

</ion-list>