<ion-list *ngIf="auth.loginUser">
  <ion-list-header>
    <strong>Menú</strong>
  </ion-list-header>
  <ion-item detail="true" (click)="goHome()">
    <ion-label>Inicio</ion-label>
    <ion-icon slot="start" name="home-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="auth.loginUser && rol==='Gerente'" (click)="goTrabajadores()">
    <ion-label>Trabajadores</ion-label>
    <ion-icon slot="start" name="people-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Auxiliar'" (click)="goHorarios()">
    <ion-label>Horarios</ion-label>
    <ion-icon slot="start" name="calendar-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Gerente'" (click)="goRegister()">
    <ion-label>Nuevo trabajador</ion-label>
    <ion-icon slot="start" name="person-add-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Gerente'" (click)="goExWorkers()">
    <ion-label>Ex-Trabajadores</ion-label>
    <ion-icon slot="start" name="person-remove-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Auxiliar' && trabaja" (click)="goHolidays()">
    <ion-label>Vacaciones</ion-label>
    <ion-icon slot="start" name="airplane-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Gerente'" (click)="checkHolidays()">
    <ion-label>Gestionar vacaciones</ion-label>
    <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" (click)="logout()">
    <ion-label>Salir</ion-label>
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
  </ion-item>
</ion-list>
<ion-list *ngIf="!auth.loginUser">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Skejul App</ion-card-subtitle>
      <ion-card-title>Qué es</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Skejul es una aplicación de gestión de horarios realizada como proyecto final de ciclo en el curso de Desarrollo de Aplicaciones Web por <br><strong>Adrián Segura Calaforra</strong>. <br>
      <ng-lottie [options]="options"></ng-lottie>
    </ion-card-content>
  </ion-card>
</ion-list>