:host ::ng-deep{
    ion-list-header{
        font-family: 'Courier New', Courier, monospace !important;
    }
    ion-label{
        color: #ff7348 !important;
        font-family: 'Courier New', Courier, monospace !important;
        font-size: 0.9em !important;
    }
    ion-icon{  
        font-size: 1em;
        color: #2b77b6 !important;
        padding: 5px;
    }

   strong{
       color: #ff7348;
   }
}