<ion-list *ngIf="login">
  <ion-list-header>
    <strong>Menu</strong>
  </ion-list-header>
  <ion-item detail="true" *ngIf="login"[routerLink]="['/home']">
    <ion-label>Inicio</ion-label>
    <ion-icon slot="start" name="home-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Gerente'" [routerLink]="['/register']">
    <ion-label>Nuevo usuario</ion-label>
    <ion-icon slot="start" name="settings-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" *ngIf="rol==='Gerente'" [routerLink]="['/exworkers']">
    <ion-label>Ex-Trabajadores</ion-label>
    <ion-icon slot="start" name="person-remove-outline"></ion-icon>
  </ion-item>
  <ion-item detail="true" (click)="logout()" >
    <ion-label>Salir</ion-label>
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
  </ion-item>
</ion-list>